src/cv/pdfa.xmpi
src/cv/phd_defense_cv.aux
src/cv/phd_defense_cv.bbl
src/cv/phd_defense_cv.bcf
src/cv/phd_defense_cv.blg
src/cv/phd_defense_cv.lof
*.log
src/cv/phd_defense_cv.lot
src/cv/phd_defense_cv.out
src/cv/phd_defense_cv.pdf
src/cv/phd_defense_cv.synctex
src/cv/phd_defense_cv.synctex.gz
src/cv/phd_defense_cv.synctex(busy)
src/cv/phd_defense_cv.tcp
src/cv/phd_defense_cv.toc
src/cv/phd_defense_cv.tps
src/cv/phd_defense_cv.run.xml
src/cv/phd_defense_cv.fdb_latexmk
src/cv/phd_defense_cv.fls
src/list_of_publications/pdfa.xmpi
src/list_of_publications/phd_defense_list_of_publications.aux
src/list_of_publications/phd_defense_list_of_publications.bbl
src/list_of_publications/phd_defense_list_of_publications.bcf
src/list_of_publications/phd_defense_list_of_publications.blg
src/list_of_publications/phd_defense_list_of_publications.lof
*.log
src/list_of_publications/phd_defense_list_of_publications.lot
src/list_of_publications/phd_defense_list_of_publications.out
src/list_of_publications/phd_defense_list_of_publications.pdf
src/list_of_publications/phd_defense_list_of_publications.synctex
src/list_of_publications/phd_defense_list_of_publications.synctex.gz
src/list_of_publications/phd_defense_list_of_publications.synctex(busy)
src/list_of_publications/phd_defense_list_of_publications.tcp
src/list_of_publications/phd_defense_list_of_publications.toc
src/list_of_publications/phd_defense_list_of_publications.tps
src/list_of_publications/phd_defense_list_of_publications.run.xml
src/list_of_publications/phd_defense_list_of_publications.fdb_latexmk
src/list_of_publications/phd_defense_list_of_publications.fls

*.bak
*.sav
